#app canvas {
  background: #f0f0f0;
  align-self: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  aspect-ratio: 16/9;
  width: min(calc(100vw - 8px), calc(100vh * (16/9) - 8px))
}

